@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
/* Criando Variaveis*/
:root{
  --bg-body: #242a32;
  --color-primary: #131219;
  --text-color: #f4f3f3; 
}
    /* Usando variaveis */
html, body {
    background-color: var(--bg-body);
}
header {
    /* Mudando a cor de fundo*/
    background-color: var(--color-primary);
    color: #fff;
    /* Modificando a altura */
    height: 60px;
    /* Deixando os itens flexivel*/
    display: flex;
    /*alinhando os itens*/
    align-items: center;
}
    h1, h2 ,h3 ,h4 ,h5 , h5{
    margin: 0;
 }  
a{
    text-decoration: none;
    color: unset;
}
    /* centralizando e espaçando os itens*/
    nav
{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
    /* modificando o nome TEC.002-MOVIES*/
 nav h1{
    /* mudando o tamanho da letra*/
    font-size: 24px;
    font-weight: 700;
}
    /* modificando o nome GitHub*/
 nav a{
    /* Mudando o tamanho da letra*/
    font-size: 12px;
    font-weight: 400;   
 }
    /* Estilizando um container*/
.link-container {
    display: flex;
    align-items: center;  
 }
    /* modificando a imagem */
.link-container img{
    /* Alterando o espaçamento da imagem*/
    margin-right: 10px;
 }

 .card-movies {
    width : 100%;
    /*height: 400px;*/
 }

 #card-movies-list {
    padding: 40px 10px;
 }
 
 .card-movies img{
    width: 100%;
    border-radius: 8px 8px 0 0;

 }

 .card-movies-description {
    height: 220px;
    padding: 10px 0 20px 0;
    background-color: var(--color-primary);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
 }

 .card-movies-description h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
 }

 .movies-btn{
    width: 150px;
    height: 50px;
    background-color: var(--bg-body);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

 }