@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

:root{
  --bg-body: #242a32;
  --color-primary: #131219

}

html, body {
    background-color: var(--bg-body);
}
header {
    background-color: var(--color-primary);
    color: #fff;
    a{
        text-decoration: none;
        color: unset;
    }

    nav
    {
     display: flex;
     align-items: center;
     justify-content: space-between;
    }

}